@import 'utils.scss';
@import 'buttons';
@import 'section-1.scss';
@import 'section-2.scss';
@import 'section-3.scss';
@import 'section-4.scss';
@import 'section-5.scss';
@import 'section-6.scss';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  background-repeat: no-repeat;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
}
header {
  position: relative;
  background-image: url("../img/strawberry.png");
  height: 100rem;
  width: 100%;
  padding: 5rem 11% 0 11%;
  background-size: cover;
  background-position: center -17.5rem;
  .logo-nav {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    .nav-1 {
      text-transform: uppercase;
      width: 45%;
      ul {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        width: 100%;
        padding: 2rem 0;
        li a {
          font-family: Raleway-Bold;
          color: rgb(38, 38, 38);
        }
        a:hover {
          padding: 1rem 0;
          border-top: 2px solid red;
        }
      }
    }
  }
  .article-1 {
    height: 23.5rem;
    width: 27%;
    position: absolute;
    top: 31rem;
  }
  img {
    position: absolute;
    bottom: 7rem;
    left: 50%;
  }
}
footer {
  padding: 0 11%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  background-color: rgb(38, 38, 38);
  .p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: #b9b9b9;
    font-family: Raleway-Light;
  }
  .p2 {
    font-size: 1.6rem;
    span {
      font-family: Raleway-Bold;
      color: red;
    }
  }
  .logo-s {
    font-size: 2.5rem;
    color: #b9b9b9;
    text-align: right;
  }
}

















@font-face {
  font-family: Pacifico-Regular;
  src: url("../fonts/pacifico/Pacifico.ttf");
}
@font-face {
  font-family: Raleway-Bold;
  src: url("../fonts/raleway/Raleway-Bold.ttf");
}
@font-face {
  font-family: Raleway-Heavy;
  src: url("../fonts/raleway/Raleway-Heavy.ttf")
}
@font-face {
  font-family: Raleway-Light;
  src: url("../fonts/raleway/Raleway-Light.ttf");
}