.section-2 {
  background-color: rgb(112, 191, 255);
  padding: 10rem 11% 10rem 16%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  
  .nav-2 {
    margin-top: 10rem;
    ul {
      li {
        width: 40rem;
        height: 10rem;
        margin: 2rem 0;
        // :nth-child(3){
        //   padding: 2rem 2rem;
        // }
        a {
          height: 10rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: auto;
          background-color: white;
          text-transform: capitalize;
          font-family: Raleway-Bold;
          font-size: 2rem;
          color: rgba(38, 38, 38, 255);
          border: none;
          &:hover {
            filter: drop-shadow(0px 2px 2.5px rgba(0,0,0,0.5));
          }
          h5 {
            width: 75%;
            text-align: center;
            padding: 0 0rem 0 4rem;
          }
          .svg {
            height: 10rem;
            width: 10rem;
            padding: 2.5rem;
            border-left: 1px solid rgb(157, 157, 157);
          }
        }
      }
    }
  }
  .article-1 {
    position: relative;
    img {
    }
    h1 {
      position: absolute;
      z-index: 20;
      color: rgba(255, 255, 255, 255);
      width: 130%;
      top: 40%;
      left: -18%;
    }
  }
}